@import "utilities";
$primary-color-dark: #202325;
$primary-color-light: #ffffff;
$text-color-dark: #ffffff;
$text-color-light: #34475a;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.post-list-item-title {
  box-shadow: none;
  color: $text-color-light;
  text-decoration: underline;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  z-index: 999;
}

.home-container {
  height: 100vh;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  height: calc(100% - 200px);
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  padding: 1em;
  width: 350px;
  display: flex;
  justify-content: space-around;
}

.links a,
.nav-links a {
  position: relative;
  color: $text-color-light;
  text-decoration: none;
  box-shadow: none;
}

.links a::after,
.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $text-color-light;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.links a:hover::after,
.nav-links a:hover::after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.my-gray {
  color: $text-color-light;
}

body.light-mode {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease;
  nav.blog-nav-bar {
    background-color: $primary-color-light;
  }
}

body.dark-mode {
  background-color: $primary-color-dark;
  color: #fff !important;
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  header,
  button.theme-switch {
    color: #fff !important;
  }
  nav.blog-nav-bar {
    background-color: $primary-color-dark;
  }
}

nav.blog-nav-bar {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #34475a;
  box-shadow: 0 1.5px 1.6px -19px rgba(0, 0, 0, 0.028),
    0 4.9px 5.4px -19px rgba(0, 0, 0, 0.042),
    0 22px 24px -19px rgba(0, 0, 0, 0.07);
}

button.theme-switch {
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
  &.light {
    color: yellow;
  }

  &.dark {
    color: #202325;
  }
}

.blog-layout {
  a:not(.anchor):not(.home-btn):not(.boring-link) {
    outline: none;
    text-decoration: none;
    padding: 2px;
    border-radius: 4px;
    color: #2a9d8f !important;
    background-color: #2a9d902f !important;
    &:link {
      font-weight: 600;
    }
    &:visited {
      font-weight: 600;
    }
    &:focus {
      border-bottom: 2px solid #2a9d8f;
    }
    &:hover {
      border-bottom: 2px solid #2a9d8f;
    }
    &:active {
      border-bottom: 3px solid #2a9d8f;
    }
  }
}
