@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

@layer components {
  body {
    @apply font-body text-gray-800;
  }

  a:not(.nav-link):not([aria-hidden="true"]):not(.list-item) {
    @apply font-semibold;
    text-decoration: none;
    background: linear-gradient(transparent 90%, #62577249 0);
  }

  a:not(.nav-link):not([aria-hidden="true"]):not(.list-item):hover {
    background: #827498;
    background: linear-gradient(transparent 85%, #625772a4 0);
  }

  .top-item-list a {
    @apply no-underline;
  }

  /* For showing link icon on blog post headings */
  span.icon.icon-link {
    background: url(/assets/link-icon.svg) no-repeat;
    height: 15px;
    width: 15px;
    margin-left: 10px;

    display: inline-block;
    visibility: hidden;
  }

  .blog-post h1:hover span.icon.icon-link,
  .blog-post h2:hover span.icon.icon-link,
  .blog-post h3:hover span.icon.icon-link,
  .blog-post h4:hover span.icon.icon-link,
  .blog-post h5:hover span.icon.icon-link,
  .blog-post h6:hover span.icon.icon-link {
    visibility: visible;
  }
}

/* Overriding some of the tailwind-typography plugin styles.
  Using TW classes in the JS code are getting overriden by the plugin.
*/
.article-list p.article-description {
  margin-bottom: 0.1em;
}

.article-list.prose ul.tag-list {
  margin-top: 0;
  padding-bottom: 1.25em;
}

.article-list.prose ul.tag-list > li {
  padding-left: 0;
  padding-right: 1em;
}

.article-list.prose ul.tag-list > li::before {
  all: unset;
}
